@using ClubWebSite.Helpers
@using ClubWebSite.Models
@model ClubWebSite.Models.Club
@{
    ViewBag.Title = Model == null ? "Home Page" : @Model.Name;
}


@if (Model == null)
{
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p class="lead">
            Start by defining club info @Html.ActionLink("here", "Save", "Club")
        </p>
    </div>
}
else
{
    <div class="jumbotron">
        <h1>Welcome To Club @Model.Name</h1>
        <p class="lead">
            @Model.Description
        </p>

        <div class="address">
            <i class="glyphicon glyphicon-map-marker"></i>
            @Model.Address
        </div>
    </div>

  
    if (@Model.Pics.SingleOrDefault(p => p.IsDefault) != null)
    {
        <div>
            <img class="img-default" src="~/Content/images/uploads/@Model.Pics.Single(p => p.IsDefault).FileName"/>
        </div>
    }

    <div class="div-img">
        @foreach (Pic pic in Model.Pics.Where(p => !p.IsDefault && p.IsActivated).OrderBy(p => p.DisplayOrder))
        {
            <div class="col-sm-4">
                <img class="img-list" src="~/Content/images/uploads/@pic.FileName" />
            </div>
        }
    </div>
}

