@model IEnumerable<ClubWebSite.Models.Pic>

@{
    ViewBag.Title = "Pic";
}

<h2>Pic</h2>


@using (Html.BeginForm("UpLoadImage", "Pic", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" value="@ViewBag.ClubId" id="clubId" name="clubId" />

    <div class="form-inline form-group">
        <div class="col-md-2">
            <input type="file" name="file" class="filestyle" data-input="false" data-buttontext="انتخاب تصویر" />
            &nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-md-6 align-center">
            <input type="submit" value="آپلود تصویر" name="Command" class="btn btn-material-blue" />
        </div>
    </div>
}

<table id="pic-table" class="table" >
    <thead>
        <tr>
            <th>
                Display DisplayOrder
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
        >
    </thead>

    <tbody data-order-url="@Url.Action("UpdateDisplayOrders", "Pic")">
        @foreach (var item in Model)
        {
            <tr>
                <td class="index" data-id="@item.Id">
                    @item.DisplayOrder
            </td>
            <td>
                <img src="~/Content/images/uploads/@item.FileName" width="100" height="100" />
                @*@Html.DisplayFor(modelItem => item.FileName)*@
            </td>
            <td>
                <button class="activation glyphicon font-red dis-block @(@item.IsActivated ? "glyphicon-arrow-down" : "glyphicon-asterisk")"
                        data-id="@item.Id" style="margin: 5px auto;"
                        data-activation-url="@Url.Action("ToggleImageActivation", "Pic")"></button> |
                <button class="default glyphicon font-red dis-block  @(@item.IsDefault ? "glyphicon-bell" : "glyphicon-tree-deciduous")"
                        data-id="@item.Id" style="margin: 5px auto;"
                        data-default-url="@Url.Action("SetImageAsDefault", "Pic")"></button>|
                <button class="delete glyphicon glyphicon-remove font-red dis-block" data-id="@item.Id" style="margin: 5px auto;"
                        data-delete-url="@Url.Action("DeleteImage", "Pic")"></button>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts{
     @Scripts.Render("~/Scripts/MyScripts/custom.js")
     @Scripts.Render("~/Scripts/jquery-ui.min.js")
}
